@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body,
html,
#__next {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

.rendered-html li {
    list-style: circle;
    margin-left: 2em;
}

* {
    font-family: "Inter", sans-serif;
}
